h1 {
    text-align: center;
    margin: 3%;
}
body {
    background-color:darkgoldenrod;
}
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    margin: 3px;
}
iframe {
    border: dotted;
}
/*
Pretpostavljam da nacin ispod nije ispravan, ali jedino tako sam uspeo
u nameri da postavim div blokove jedne pored drugih
*/
.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}
.left1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.denver {
    color:blue;
}
a:link {
    color: blue;
}
a:visited {
    color:purple;
}
a:hover {
    color:yellow;
}
a:active {
    color: red;
}
img {
    border: double blue 5px;
}
ul {
    font-style: italic;
}
select {
    color: blue;
    margin: 5%;;
}
table {
    background-color: silver;
}